body {
    display: flex;
    flex-direction: column;
}

.header1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background: rgb(76, 76, 236);
}

.header2 {
    display: flex;
    gap: 300px;
    background: rgb(76, 76, 236);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headerlinks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 140px;
    
}

.headertext {
    width: 600px;
    font-weight: bolder;

}

a {
    color: silver;
}

.headertext button {
    background-color: bisque;
    color: rgb(53, 51, 51);
    width: 100px;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

.header1 img {
    border-style: solid;
}

.header2 img {
    border-style: solid;
}